* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
  background-color: rgb(245, 255, 201);
  min-height: 10vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(187, 163, 132);
}

.img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.container {
  border: 1px solid rgb(245, 255, 201);
  width: 200px;
  height: 300px;
  margin-left: 680px;
  margin-top: 25px;
}
h3 {
  margin-top: 5px;
}
h4 {
  margin-top: 10px;
}
.button {
  margin-top: 10px;
  margin-left: 30px;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgb(245, 255, 201);
}
